In [2]:
import os 
import json
import pandas as pd
import numpy as np

os.chdir('/home/jonah/Desktop/DataVizDashboard/data/')

In [3]:
with open('revenue_by_rating_and_genre.json') as file:
    dict = json.load(file)

data = pd.DataFrame(dict)

In [4]:
df = pd.read_csv('credits.csv')
df1 = df['cast'].str.split(', ', expand=True)
df1 = pd.DataFrame(df1)
df1['id'] = df['id']
df2 = df1[3]
df2 = pd.DataFrame(df2)
df2['id'] = df['id']
df2 = df2.rename(columns={3: 'gender'})
df2['gender'] =df2['gender'].str.replace("'gender':", '', regex=True)
df2.dropna(inplace=True)
df2['gender'] = df2['gender'].str.replace('2', 'Male')
df2['gender'] =df2['gender'].str.replace('1', 'Female')
df2.drop_duplicates(subset='id', keep='first', inplace=True)
df2

        gender      id
0         Male     862
1         Male    8844
2         Male   15602
3       Female   31357
4         Male   11862
...        ...     ...
45470     Male   30840
45471   Female  439050
45472   Female  111109
45473   Female   67758
45474     Male  227506

[43018 rows x 2 columns]

In [5]:
ratings_df = pd.read_csv('ratings_small.csv')
ratings_df = ratings_df.drop(columns=['timestamp'])
ratings_df = ratings_df.drop(columns=['userId'])
ratings_df = ratings_df.rename(columns={'movieId': 'id'})
ratings_df.drop_duplicates(subset='id', keep='first', inplace=True)
ratings_df = ratings_df.reset_index(drop=True)
ratings_df

         id  rating
0        31     2.5
1      1029     3.0
2      1061     3.0
3      1129     2.0
4      1172     4.0
...     ...     ...
9061  64997     2.5
9062  72380     3.5
9063    129     3.0
9064   4736     1.0
9065   6425     1.0

[9066 rows x 2 columns]

In [6]:
df3 = pd.merge(df2, ratings_df, on='id')

In [7]:
genre_df = pd.read_csv('movies_metadata.csv')
df4 = genre_df[['id', 'genres', 'revenue']]
df5 = df4['genres'].str.split(',', expand=True)
df4['genres'] = df5[0]
df4.dropna(inplace=True)
df4.drop_duplicates(subset='id', keep='first', inplace=True)
df4 = df4.reset_index(drop=True)

/tmp/ipykernel_5147/3499409350.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['genres'] = df5[0]
/tmp/ipykernel_5147/3499409350.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.dropna(inplace=True)
/tmp/ipykernel_5147/3499409350.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop_duplicates(subset='id', keep='first', inplace=True)

In [8]:
df5 = pd.merge(df3, df4, on='id')
df5['gender'] = df5['gender'].str.replace(' 0', ' Male')
# df5['gender'] = df5['gender'].str.replace("'credit_id': '5Male'", ' Male')
df5['gender'] = np.where((df5['gender'] != ' Female') & (df5['gender'] != ' Male'), ' Male', df5['gender'])
df5 = df5.drop(columns=['id'])

In [12]:
pivot_df = pd.pivot_table(df5, values='revenue', index=['gender', 'rating'], columns='genres', aggfunc='mean')
pivot_df = pivot_df.reset_index()

pivot_df.columns.name = None

print(pivot_df)

     gender  rating        Action     Adventure     Animation        Comedy  \
0    Female     0.5  5.248158e+06           NaN           NaN  0.000000e+00
1    Female     1.0  1.001732e+07  5.188101e+07           NaN  8.307200e+07
2    Female     1.5  0.000000e+00           NaN           NaN  1.856758e+08
3    Female     2.0  1.605067e+08  1.469809e+08           NaN  6.312752e+07
4    Female     2.5  3.300987e+06  0.000000e+00           NaN  1.364136e+07
5    Female     3.0  9.430973e+07  5.500000e+08  4.118853e+06  4.053880e+07
6    Female     3.5  1.809490e+08  9.095774e+07  0.000000e+00  1.637194e+07
7    Female     4.0  1.634323e+07  1.446405e+07           NaN  4.202135e+07
8    Female     4.5  1.386364e+08  1.415093e+08           NaN  1.175344e+08
9    Female     5.0  1.594025e+08  1.861174e+08           NaN  6.189717e+07
10     Male     0.5  4.042264e+07  1.377501e+08  0.000000e+00  9.638346e+06
11     Male     1.0  7.667958e+07  1.726108e+08  2.799262e+08  4.027447e+07
12     Male     1.5  1.102999e+08           NaN  0.000000e+00  2.805859e+07
13     Male     2.0  5.940863e+07  2.026472e+08  1.225154e+07  3.011913e+07
14     Male     2.5  3.150484e+07  2.956945e+08  0.000000e+00  4.750110e+07
15     Male     3.0  8.611017e+07  2.677541e+08  2.732614e+08  3.244710e+07
16     Male     3.5  4.997820e+07  9.356241e+07  1.513957e+08  1.996367e+07
17     Male     4.0  5.272461e+07  2.408106e+08  3.037136e+08  2.308413e+07
18     Male     4.5  7.875719e+07  7.401562e+07  0.000000e+00  1.510086e+07
19     Male     5.0  8.877105e+07  9.070039e+07  1.464298e+08  2.904111e+07

           Crime   Documentary         Drama        Family  ...   History  \
0            NaN           NaN  2.239713e+07           NaN  ...       NaN
1   9.620399e+06           NaN  2.464229e+07           NaN  ...       NaN
2            NaN           NaN  4.437036e+07           NaN  ...       NaN
3   1.023028e+08  0.000000e+00  1.056161e+07           NaN  ...       0.0
4   0.000000e+00           NaN  6.346300e+03           NaN  ...       NaN
5   2.931747e+07  0.000000e+00  2.409771e+07           NaN  ...       NaN
6   2.208910e+07           NaN  3.345600e+07           NaN  ...       NaN
7   4.275614e+06  0.000000e+00  9.942623e+06  0.000000e+00  ...       0.0
8   5.638000e+06           NaN  1.107185e+07           NaN  ...       NaN
9   4.111243e+07           NaN  8.303469e+07           NaN  ...       NaN
10           NaN  1.587348e+06  1.635839e+07           NaN  ...       0.0
11  2.863551e+07  2.468092e+06  4.086635e+07           NaN  ...  101890.5
12  0.000000e+00  0.000000e+00  7.441189e+06  0.000000e+00  ...       NaN
13  1.402532e+07  1.039328e+06  3.920902e+07  4.722500e+07  ...       NaN
14  1.053325e+07  4.445559e+06  3.091570e+07           NaN  ...       0.0
15  5.363896e+07  8.727153e+06  3.982260e+07  2.541390e+08  ...       0.0
16  7.360124e+06  4.724525e+05  1.632808e+07  8.693735e+07  ...       0.0
17  3.047780e+07  4.934613e+06  2.420252e+07  2.778189e+07  ...       0.0
18  2.278318e+07  1.855325e+04  5.072404e+07           NaN  ...       0.0
19  9.389017e+06  3.437222e+03  2.424850e+07           NaN  ...       0.0

          Horror         Music       Mystery       Romance  Science Fiction  \
0   0.000000e+00           NaN           NaN           NaN              NaN
1   5.260400e+04           NaN  1.932729e+07  0.000000e+00              NaN
2   6.423844e+07           NaN           NaN  0.000000e+00              NaN
3   1.190939e+07           NaN           NaN  3.129606e+07              NaN
4   4.400000e+07           NaN  0.000000e+00  1.849423e+08              NaN
5   3.289403e+07  5.000000e+07  1.277401e+06  1.194554e+08              NaN
6   0.000000e+00           NaN  0.000000e+00  2.928020e+05     7.800000e+07
7   4.864088e+07  2.041178e+07  0.000000e+00  8.558436e+07     0.000000e+00
8   1.126667e+07           NaN           NaN           NaN     0.000000e+00
9   3.214424e+06  1.158026e+08           NaN  0.000000e+00     2.020000e+08
10  0.000000e+00           NaN           NaN  5.859753e+07     0.000000e+00
11  0.000000e+00  1.296436e+07  3.221152e+06  4.955085e+07     6.436455e+07
12  0.000000e+00  0.000000e+00           NaN           NaN     0.000000e+00
13  4.674901e+07  0.000000e+00  1.400000e+07  1.132012e+05     3.065000e+07
14  2.570832e+07  2.885127e+06  1.160884e+07  0.000000e+00     5.620991e+08
15  3.041303e+07  3.929435e+07  3.677815e+07  1.838385e+07     7.156202e+07
16  3.153912e+07  6.084866e+07  3.857294e+06  9.109851e+07     1.123474e+07
17  1.481137e+07  1.340063e+07  3.180121e+07  4.736796e+07     1.106711e+08
18  2.548752e+07  0.000000e+00  1.773967e+07  8.885845e+06     1.596865e+07
19  1.636335e+07  0.000000e+00  1.682016e+08  3.030230e+07     3.842755e+07

    TV Movie      Thriller          War       Western
0        0.0           NaN          NaN           NaN
1        NaN  1.569276e+07          NaN           NaN
2        NaN           NaN          NaN           NaN
3        NaN  0.000000e+00          NaN           NaN
4        0.0  1.292959e+07          NaN           NaN
5        NaN  1.837556e+07          NaN           NaN
6        0.0  1.488030e+08          NaN           NaN
7        NaN  1.377809e+07          0.0           NaN
8        NaN  0.000000e+00          NaN           NaN
9        0.0  1.108462e+06          0.0           NaN
10       NaN  0.000000e+00          NaN  6.000000e+06
11       NaN  2.240000e+07          NaN  3.000000e+06
12       0.0  2.076115e+06          0.0  1.081034e+08
13       0.0  2.084449e+08          0.0  4.440503e+06
14       0.0  5.946149e+07          0.0           NaN
15       0.0  3.213538e+07          0.0  7.578000e+06
16       0.0  7.048984e+07          NaN  0.000000e+00
17       0.0  2.105268e+07   13183545.6  1.830032e+07
18       NaN  7.898054e+07      25800.0  0.000000e+00
19       0.0  2.756305e+07  167298192.0  1.040000e+07

[20 rows x 22 columns]

In [13]:
df6 = pd.DataFrame(pivot_df)
df6 = df6.fillna(0)

In [14]:
df6.to_csv('q2_data.csv', index=False)

In [20]:
df_female = df6[df6['gender'] == ' Female'].drop(columns='gender')
df_male = df6[df6['gender'] == ' Male'].drop(columns='gender')

In [22]:
df_female.to_csv('q2_female.csv', index=False)
df_male.to_csv('q2_male.csv', index=False)